*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header versione smartphone e tablet*/
header{
    background-color: rgb(0, 119, 255);
    height: 90px;
    width: 100%;
    color: white;
}

.container_header.flex{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 60%;
    margin-left: 2rem;
}

i.fa-solid.fa-bars{
    margin-right: 2rem;
    font-size: 2rem;
    display: inline-block;
}

header ul{
    display: none;
}

/*Header versione deckstop*/
@media screen and (min-width:1140px){
    
    .container_header.flex{
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    i.fa-solid.fa-bars{
        margin-right: 2rem;
        font-size: 2rem;
        display: none;
    }

    header ul.flex{
        display:flex;
        align-items: center;
        list-style-type: none;
    }
     
    ul.flex *{
        margin-left: 1rem;
    }

    ul.flex span{
        background-color: white;
        border-radius: 20px;
        color: black;
        display: inline-block;
        height: 2rem;
        width: 6rem;
        text-align: center;
        line-height: 2rem ;
    }

}

/*section1 versione smartphone*/
.container1{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

div.card1_big{
    width: 100%;
    background-color: rgb(193, 227, 255);
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem ;
    margin-bottom: 1.1rem;
}

div.card1_big p{
    margin-top: 1.5rem ;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
}

div.card1_big span:first-child{
    font-size: 2rem;
    color: rgb(54, 138, 248);
}

div.card1_big span.button1 {
    display: inline-block;
    background-color: rgb(0, 119, 255);
    color: white;
    font-size: 1.2rem;
    width: 15rem;
    border-radius: 20px;
    text-align: center;
    height: 2.3rem;
    line-height: 2.3rem;
    margin-bottom: 1.5rem;
}

div.card1_big img{
    width: 80%;
    margin-left: 27px;
}

div.card1{
    width: 100%;
    background-color: rgb(193, 227, 255);
    margin: 0 auto;
    padding-top: 1.5rem;
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem ;
    margin-bottom: 1.1rem;
    text-align: center;
    padding-bottom: 1.5rem;
}


div.card1 p{
    margin-top: 1.5rem ;
    line-height: 1.8rem;
    
}

div.card1>i{
    margin-bottom: 1rem;
    color: rgb(54, 138, 248);
    font-size: 5rem;
}


div.card1 >span{
    font-size: 2rem;
    color: rgb(54, 138, 248);
}

/*section1 versione tablet*/

@media screen and (min-width:768px){
    .container1{
        width: 95%;
        margin: 0 auto;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    div.card1_big{
        width: 65%;
        background-color: rgb(193, 227, 255);
        margin-top: 3rem;
        padding-top: 1.5rem;
        border-radius: 15px;
        padding-left: 2rem;
        padding-right: 2rem ;
        margin-bottom: 1.1rem;
    }

    div.card1{
        width: 31.5%;
        background-color: rgb(193, 227, 255);
        padding-top: 1.5rem;
        border-radius: 15px;
        padding-left: 2rem;
        padding-right: 2rem ;
        margin-bottom: 1.1rem;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .container1 div:nth-child(2){
        margin-top: 3rem;
    }

    div.card1_big img{
        width: 72%;
        margin-left: -25px;
    }
}

/*section1 versione desktop*/

@media screen and (min-width:1140px){
    .container1{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    div.card1_big{
        width: 65%;
        background-color: rgb(193, 227, 255);
        margin-top: 3rem;
        padding-top: 1.5rem;
        border-radius: 15px;
        padding-left: 2rem;
        padding-right: 2rem ;
        margin-bottom: 1.1rem;
        display: flex;
        justify-content: flex-start;
    }

    div.card1{
        width: 31.5%;
        background-color: rgb(193, 227, 255);
        padding-top: 1.5rem;
        border-radius: 15px;
        padding-left: 0.5rem;
        padding-right: 0.5rem ;
        margin-bottom: 1.1rem;
        text-align: center;
        padding-bottom: 1.5rem;
    }
    
    
    div.card1_big span.button1 {
        margin-bottom: 1rem;
    }




    div.card1_big img{
        width: 121%;
        margin-left: 0px;
        margin-top: 1rem;
    }

    .card1_big div.part1{
        width: 66%;
    }

    .card1_big div.part2{
        width: 33%;
    }
}

